.footer{
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--special-bg);
    color: var(--primary-bg);

    position: relative;
}  

.container{
    width: 40%;
    /* background-color: antiquewhite; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.content_contato{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-bottom: 1px solid var(--primary-bg);
}

.content_contato p span{
    margin-right: 10px;
    font-size: 1rem;
}

.copy{
    width: 90%;
    text-align: center;
    margin-top: 2px;
}

.by{
    position: absolute;
    bottom: 5px;
}

.by a{
    color: rgb(6, 155, 255);
}